version: "3.2"
services:
  sql-server-db:
    container_name: sql-server-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    environment:
      MSSQL_SA_PASSWORD: "abcpassword!23"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    volumes:
      - data:/var/lib/sql-server
volumes:
  data:
